.About_hero_section{
    height:100%;
    width: 100%;
    background: url("../img/assets/about-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;

}
.about_thumb_img img{
    height: 24.5rem;
}
.ab-H1{
    font-family:'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 900;
}





/* Second Section */
.card_area {
    padding: 50px 30px 10px;
    background: #fff;
    border-radius: 6px;
    transition: all linear 0.3s;
}
.card_area:hover{
    box-shadow: 0px 40px 40px 0px rgb(14 17 51 / 10%);
    transform: translateY(-15px);
}
.card_area1:hover{
    box-shadow: 0px 40px 40px 0px rgb(14 17 51 / 10%);
    transform: translateY(-15px);
}
.card_area1{
    padding: 50px 30px 10px;
    background:linear-gradient(0deg, rgba(39, 153, 246, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%);
    border-radius: 6px;
    transition: all linear 0.3s;
}
/* Second Section */


/* FUNFACT AREA */
.background_area_about{
    background: url(../img/assets/fun-fact-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 70px;
    padding-top: 75px;
    padding-bottom: 85px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.left_img_L img{
    height: 25rem;
}
/* FUNFACT AREA */
/* Subscribe_section */
.Subscribe_section{
    height: 100%;
}
/* Subscribe_section */

/* How_it_works */
.How_it_works{
    height: 120%;
    
}


.how_it_works_n{
    position: relative;
}

.how_it_works_n span{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    background: #eef4ff;
    color: #2b70fa;
    font-size: 30px;
    font-weight: 500;
}
.how_it_works_n span:hover{
background: #2b70fa;
box-shadow: 0px 14px 20px 0px rgb(0 43 130 / 30%);
color: #fff;
transition: all linear 0.3s;
}


/* How_it_works */


/* Media queris  */

@media screen and (max-width:480px) {
    .row_one{
        width: 50%;
        float: left;
    }
    .row_two{
        width: 50%;
        float: left;
    }
    .row_three{
        text-align: center;
    }
    .left_img_L img{
        height: 16rem;
    }
    .How_it_works img{
        height: 25rem;
    }
}


